{% include ordinalize.html date_param=post.date %}
<article class="fact-griditem">
{% if post.image_small %}
  <a class="summary-title" href="{{ fact.url }}">
    <div class="fact-image">
      <img src="{{ fact.image_small }}">
    </div>
  </a>
{% endif %}
  <div class="fact-details">
    <a class="summary-title" href="{{ fact.url }}">
      <h2>{{ fact.title }}</h2>
    </a>
    <div class="excerpt">{{ fact.excerpt }}</div>
    <div class="item">
      <div class="left">
        <time datetime="{{ fact.date }}">{{ post.date | date: "%B" }} {{ d }}{{ ordinal }}, {{ post.date | date: "%Y" }}</time>
      </div>
      <div class="right">
        <a href="{{ fact.url }}">Continue Reading →</a>
      </div>
    </div>
  </div>
</article>
